.findIdContaner{
	height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffffff, #FFFBEC) ;
}
.findIdLogo {
   width: 220px; 
   height: 220px;
}
.findIdInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 30px;
	margin-bottom: 50px;
}
.findIdInfo > input{
	all: unset;
    width: 372px;
	border-bottom: solid 2px #FCD11E;
}

.findIdInfo > input::placeholder{
	color: rgb(143, 143, 143);
	font-size: 12px;
}
.findIdButton{
	all: unset;
	margin: 30px 0px 10px 0px;
    width: 300px;
	height: 40px;
	background-color:  #FCD11E;
	border-color: #FCD11E;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 3px rgb(207, 207, 207);
	font-size: 15px;
	font-weight: bolder;
	cursor: pointer;
}
.findIdButton {
	margin: 10px 0px;
    margin-bottom: 100px;
}
.popupOn{
	width: 250px;
	height: 150px;
	background-color: rgb(255, 255, 255);
	border: solid 1px #FCD11E;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	gap: 30px;
	border-radius: 20px;
	position: absolute;
}
.popupOff{
	display: none;
}
.popupOn > button{
    all: unset;
    width: 372px;
    width: 150px;
	height: 40px;
	border-radius: 20px;
    background-color:  #FCD11E;
	border-color: #FCD11E;
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 5px;
}
