#findpwmain {
  min-width: 1200px;
  height: 1000px;
  background: linear-gradient(180deg, #ffffff, #fffbec);
}

#findpw-content {
  width: 480px;
  height: 759px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#findpw-logo {
  width: 160px;
  height: 160px;
  margin: 44px 0px 0px 0px;
}

#findpw-title {
  color: #000000;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: bold;
  margin: -20px 0px 72px 0px;
}

#findpw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#findpw-id {
  width: 480px;
  height: 48px;
  border: 1px solid #fcd11e;
  padding: 0px 12px 0px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: lighter;
  outline: none;
}

#findpw-email {
  width: 480px;
  height: 48px;
  border: 1px solid #fcd11e;
  padding: 0px 12px 0px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: lighter;
  outline: none;
  margin: 12px 0px 24px 0px;
}

#findpw-button {
  width: 260px;
  height: 40px;
  margin: 0px 0px 64px 0px;
  border-radius: 44px;
  background-color: #fcd11e;
  border: none;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(76, 73, 65, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22.49px;
}

#findpw-buttonimg {
  width: 33.46px;
  height: 33.46px;
}

#findpw-form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#findpw-number {
  width: 480px;
  height: 48px;
  border: 1px solid #fcd11e;
  padding: 0px 12px 0px 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: lighter;
  outline: none;
  margin: 0px 0px 24px 0px;
}

#findpw-button1 {
  width: 260px;
  height: 40px;
  margin: 0px 0px 64px 0px;
  border-radius: 44px;
  background-color: #fcd11e;
  border: none;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(76, 73, 65, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22.49px;
}

#findpassword {
  width: 536px;
  height: 95px;
  border-top: 1px solid #e4e4e6;
  display: flex;
  justify-content: center;
}

#findpassword1 {
  width: 480px;
  height: 64px;
  border: 1px solid #fcd11e;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  padding: 20px 16px;
  box-sizing: border-box;
  margin: 31px;
}
