.pagination{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
 }
 .active{
    all: unset;
    background-color: #FCD11E;
 }
 .pagination > li{
    width: 25px;
    height: 25px;
    color: rgb(92, 92, 92);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
 }
 .pagination > li > a {
    all: unset;
 }